# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Original asset backups (created by optimization scripts)
src/assets/_original-images/
src/assets/_original-videos/
src/assets/project/_original-videos/

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo
